<?php

// This is the config file.


// Set the stylesheet to use here.
$stylesheet="black.and.green.css";


// Set the folders to ignore here
$ignorefolders=array(".","\$RECYCLE.BIN","lost+found","msdownld.tmp","System Volume Information");


// Set the filetypes to display here
$filetypes=array(".mp4",".webm",".mkv",".avi");
$images=array(".jpg",".png",".jpeg");
$audio=array(".mp3",".ogg",".wma");
$filetypes=array_merge($filetypes, $images, $audio);

?>